[Unit]
Description=Node Pod Info Service
After=network.target

[Service]
ExecStart=/usr/local/bin/node-pod-info.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

